@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.upload-btn {
  background-color: #007bff;
  color: #fff;
}

button.draft-btn {
  background-color: #28a745;
  color: #fff;
}

button.reset-btn {
  background-color: #dc3545;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr.drafted-by-user {
  background-color: rgba(0, 255, 0, 0.2);
}

tr.drafted-by-user:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

tr.drafted-by-other {
  background-color: rgba(255, 0, 0, 0.2);
}
tr.drafted-by-other:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

thead {
  background-color: #e9ecef;
}

tr:hover {
  background-color: #bebebe;
}

.table-container {
  overflow-x: auto;
}

.file-input-container {
  margin-bottom: 20px;
}

.file-input-label {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #0056b3;
}

.file-input {
  display: none;
}

.header {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #0056b3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header p {
  margin: 5px 0 0;
  font-size: 16px;
  color: #e1e1e1;
  font-style: italic;
}

.draft-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.reset-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */
